<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../head.html') %>
    <script src="../scripts/maiormenor.js" defer></script>
    <link href="../css/maiormenor.css" rel="stylesheet">    
</head>
<body>
        <%- include('../header.html') %>

        <main>
            <h3 id="fracao">Números Fracionarios</h3>
            <a href="/maiormenor" id="voltar-pagina">voltar</a>
            <div id="maiormenorDiv">
                <div id="acima">
                    <div id="itemEsquerda"><div id="numeroEsquerda">1/5</div><div id="prato"></div></div>
                    <div id="duvidaDiv">?</div>
                    <div id="itemDireita"><div id="numeroDireita">2/3</div><div id="prato"></div></div>
                </div>
                <div id="topo"></div>
                <div id="meio"></div>
                <div id="base"></div>
                <div id="resposta">
                    <input type="button" id="menor" value="<">
                    <input type="button" id="maior" value=">">
                </div>
            </div>

        </main>

        <%- include('../footer.html') %>
</body>
</html>