<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <script src="../../scripts/abracaixa.js" defer></script>
    <link href="../../css/abracaixa.css" rel="stylesheet">
    <title>Jogos do LEM</title>
</head>
<body>
        <%- include('../header.html') %>

        <main class="main-caixas-conteiner">
            <div id="caixa">
                <div id="perguntas-container">
                    <div class="pergunta-div"><div class="capa fechado">
                    </div><div class="pergunta">4.Um jogador, ao final de um jogo, marcou 32
                        arremessos e acumulou 83 pontos.
                        Considerando que cada arremesso certo vale
                        4 pontos e cada errado perde meio ponto,
                        quantos arremessos certos fez este jogador?</div>
                    </div>
                    <div class="pergunta-div"><div class="capa fechado"></div><div class="pergunta">Em um bar com mesas de 4 cadeiras, se
                        juntarmos duas mesas teremos seis cadeiras, e
                        se forem três mesas teremos 8 cadeiras. Dando
                        sequência à junção das mesas, quantas cadeiras
                        teremos ao juntarmos 12 mesas?</div>
                        </div>
                    <div class="pergunta-div"><div class="capa fechado"></div><div class="pergunta">Um pai tem 32 anos e seu filho tem 6 anos. Daqui a quantos anos, a idade do pai será o triplo da idade do filho?</div>
                        </div>
                    <div class="pergunta-div"><div class="capa fechado"></div></div>
                    <div class="pergunta-div"><div class="capa fechado"></div></div>
                    <div class="pergunta-div"><div class="capa fechado"></div></div>
                    <div class="pergunta-div"><div class="capa fechado"></div></div>
                    <div class="pergunta-div"><div class="capa fechado"></div></div>
                </div>
                <div id="perguntando-container">
                    <div id="pergunta">test</div>
                    <div class="respostas a">a</div>
                    <div class="respostas b">b</div>
                    <div class="respostas c">c</div>
                    <div class="respostas d">d</div>
                </div>
                <img src="../../imagens/icones/fullscreen.png" id="fullscreen">
                <img src="../../imagens/icones/exit_fullscreen.png" id="exit-fullscreen" class="hidden">
                <img src="../../imagens/icones/flecha.png" class="voltar hidden">
            </div>
        </main>

        <%- include('../footer.html') %>
</body>
</html>