<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../head.html')%>
    <script src="../../scripts/abracaixa.js" defer type="module"></script>
    <link href="../../css/abracaixa.css" rel="stylesheet">
</head>

<body>
    <%- include('../header.html') %>

        <main class="main-caixas-conteiner">
            <a href="/abracaixa" id="voltar-pagina">voltar</a>
            <div id="caixa">
                <div id="perguntas-container">
                    <div class="pergunta-div">
                        <div class="capa fechado">
                        </div>
                        <div class="pergunta"></div>
                    </div>
                    <div class="pergunta-div">
                        <div class="capa fechado"></div>
                        <div class="pergunta"></div>
                    </div>
                    <div class="pergunta-div">
                        <div class="capa fechado"></div>
                        <div class="pergunta"></div>
                    </div>
                    <div class="pergunta-div">
                        <div class="capa fechado"></div>
                        <div class="pergunta"></div>
                    </div>
                    <div class="pergunta-div">
                        <div class="capa fechado"></div>
                        <div class="pergunta"></div>
                    </div>
                    <div class="pergunta-div">
                        <div class="capa fechado"></div>
                        <div class="pergunta"></div>
                    </div>
                    <div class="pergunta-div">
                        <div class="capa fechado"></div>
                        <div class="pergunta"></div>
                    </div>
                    <div class="pergunta-div">
                        <div class="capa fechado"></div>
                        <div class="pergunta"></div>
                    </div>
                </div>
                <div id="perguntando-container">
                    <div id="pergunta"></div>
                    <div class="respostas a"></div>
                    <div class="respostas b"></div>
                    <div class="respostas c"></div>
                    <div class="respostas d"></div>
                </div>
                <img src="../../imagens/icones/fullscreen.png" id="fullscreen">
                <img src="../../imagens/icones/exit_fullscreen.png" id="exit-fullscreen" class="hidden">
                <img src="../../imagens/icones/flecha.png" class="voltar hidden">
                <img src="../../imagens/icones/lem_fundo_branc_semBG.png" id="lem-icon">                
            </div>
        </main>

        <%- include('../footer.html') %>
</body>

</html>