<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="../css/jogo2048.css" rel="stylesheet">
    <script src="../scripts/jogo2048.js" defer></script>
    <title>Jogos LEM</title>
</head>
<body>
    
    <%- include('header.html') %>

    <main id="main2048">
        <h2>2048</h2>

        <p>Mova os blocos e tente atingir o valor 2048 em algum deles</p>

        <div id="topo">Movimentos: <div id="moves">0</div>Pontuação: <div id="pontos">4</div></div>

        <div id="div2048">
            <div class="rows">
                <div class="bloco"></div>
                <div class="bloco"></div>
                <div class="bloco"></div>
                <div class="bloco"></div>
            </div>
            <div class="rows">
                <div class="bloco"></div>
                <div class="bloco"></div>
                <div class="bloco"></div>
                <div class="bloco"></div>
            </div>
            <div class="rows">
                <div class="bloco"></div>
                <div class="bloco"></div>
                <div class="bloco"></div>
                <div class="bloco"></div>
            </div>
            <div class="rows">
                <div class="bloco"></div>
                <div class="bloco"></div>
                <div class="bloco"></div>
                <div class="bloco"></div>
            </div>
            
        </div>
        
    </main>

    <%- include('footer.html') %>

</body>
</html>