<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('head.html')%>
        <link href="../css/abracaixa.css" rel="stylesheet">
</head>

<body>
    <%- include('header.html') %>

        <main class="caixas-container">
            <h2>Caixas</h2>
            <p>Escolha uma caixa e tente acertar todas as perguntas de categorias variadas</p>
            <div class="caixa">
                <figure><a href="/caixa1"><img src="../imagens/capas/caixas/provas_ifrs.PNG"></a></figure>
                <section>
                    <a href="/caixa1">
                        <h3>Provas do IFRS</h3>
                        <p>por LEM</p>
                    </a>
                </section>
            </div>
            <div class="caixa">
                <figure><a href="/caixa1"><img src="../imagens/capas/caixas/provas_ifrs.PNG"></a></figure>
                <section>
                    <a href="/caixa1">
                        <h3>Provas do IFRS</h3>
                        <p>por LEM</p>
                    </a>
                </section>
            </div>
            <div class="caixa">
                <figure><a href="/caixa1"><img src="../imagens/capas/caixas/provas_ifrs.PNG"></a></figure>
                <section>
                    <a href="/caixa1">
                        <h3>Provas do IFRS</h3>
                        <p>por LEM</p>
                    </a>
                </section>
            </div>
            <div class="caixa">
                <figure><a href="/caixa1"><img src="../imagens/capas/caixas/provas_ifrs.PNG"></a></figure>
                <section>
                    <a href="/caixa1">
                        <h3>Provas do IFRS</h3>
                        <p>por LEM</p>
                    </a>
                </section>
            </div>
            <div class="caixa">
                <figure><a href="/caixa1"><img src="../imagens/capas/caixas/provas_ifrs.PNG"></a></figure>
                <section>
                    <a href="/caixa1">
                        <h3>Provas do IFRS</h3>
                        <p>por LEM</p>
                    </a>
                </section>
            </div>
            <div class="caixa">
                <figure><a href="/caixa1"><img src="../imagens/capas/caixas/provas_ifrs.PNG"></a></figure>
                <section>
                    <a href="/caixa1">
                        <h3>Provas do IFRS</h3>
                        <p>por LEM</p>
                    </a>
                </section>
            </div>
            <div class="caixa">
                <figure><a href="/caixa1"><img src="../imagens/capas/caixas/provas_ifrs.PNG"></a></figure>
                <section>
                    <a href="/caixa1">
                        <h3>Provas do IFRS</h3>
                        <p>por LEM</p>
                    </a>
                </section>
            </div>
            <div class="caixa">
                <figure><a href="/caixa1"><img src="../imagens/capas/caixas/provas_ifrs.PNG"></a></figure>
                <section>
                    <a href="/caixa1">
                        <h3>Provas do IFRS</h3>
                        <p>por LEM</p>
                    </a>
                </section>
            </div>
        </main>

        <%- include('footer.html') %>
</body>

</html>