<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('head.html')%>
    <script src="../scripts/brickbreak.js" defer></script>    
    <link href="../css/brickbreak.css" rel="stylesheet">    
</head>
<body>
    
    <%- include('header.html') %>

    <main>

        <h2>Brick Breaker</h2>
        <p>Mova a plataforma sem deixar a esfera cair (Seta para cima para começar!)</p>
        <div id="topo">
            <div>Pontuação <div id="pontos"></div></div>
            <div>Vidas <div id="vidas"></div></div>
        </div>
        <canvas id="brickBreakCanvas"></canvas>

    </main>

    <%- include('footer.html') %>

</body>
</html>