<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="../css/hanoi.css" rel="stylesheet">
    <script src='../scripts/hanoi.js' type="module" defer></script>
    <title>Jogos LEM</title>
</head>
<body>
    
    <%- include('header.html') %>

    <main id="hanoi">

        <h2>Torre de Hanói</h2>
        <p>Mova a torre de um pilar para outro, sem deixar um disco maior em cima de um menor</p>
        
        <div id="topo">
            <div>Passos: <div id="passos">0</div></div>
            <div>Tempo: <div id="timer">00:00</div></div>
        </div>
        <canvas id='gameCanvas'></canvas>
        
    </main>

    <%- include('footer.html') %>

</body>
</html>
