<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="../css/main.css" rel="stylesheet">
    <script src="../scripts/pesquisarJogo.js" defer></script>
    <title>Jogos LEM</title>
</head>
<body>
    
    <%- include('header.html') %>

    <main id="home">
        <div id="bemVindoDiv">
            <h2>Bem-vindo(a) aos Jogos do LEM</h2>
            <p>Aqui você irá encontrar diversos jogos para aprender e praticar suas habilidades matemáticas e lógicas</p>
        </div>
        <div id="pesquisarJogoDiv">
            <label for="pesquisaInput">Procurar jogo pelo nome</label>
            <input type="text" id="pesquisaInput">
        </div>
        <div id="jogos">
            <div class="jogo">
                <figure>
                    <a href="/quiz"><img src="../imagens/capas/quiz.PNG"></a>
                </figure>                
                <div>
                    <a href="/quiz"><h3>Quiz Matemático</h3></a>
                    <p>Tente acertar o máximo de perguntas que conseguir!</p>
                    <h5>Feito por: João & Diego</h5>
                </div>
            </div>
            <div class="jogo">
                <figure>
                    <a href="/tabuada"><img src="../imagens/capas/tabuada.PNG"></a>
                </figure>                
                <div>
                    <a href="/tabuada"><h3>Tabuada Rápida</h3></a>
                    <p>Acerte o mais rápido que conseguir os resultados dos cálculos</p>
                    <h5>Feito por: João</h5>
                </div>
            </div>
            <div class="jogo">
                <figure>
                    <a href="/operacao"><img src="../imagens/capas/operacao.PNG"></a>
                </figure>                
                <div>
                    <a href="/operacao"><h3>Descubra a Operação</h3></a>
                    <p>Coloque os sinais na operação, que irá resultar no valor final</p>
                    <h5>Feito por: João</h5>
                </div>
            </div>
            <div class="jogo">
                <figure>
                    <a href="/hanoi"><img src='../imagens/capas/hanoi.png'></a>
                </figure>                
                <div>
                    <a href="/hanoi"><h3>Torre de Hanói</h3></a>
                    <p>Na torre de hanói o jogador deve mover a torre de um pilar ao outro</p>
                    <h5>Feito por: João</h5>
                </div>
            </div>
            <div class="jogo">
                <figure>
                    <a href="/2048"><img src="../imagens/capas/20482.png"></a>
                </figure>                
                <div>
                    <a href="/2048"><h3>2048</h3></a>
                    <p>Tente fazer um bloco com o valor de 2048</p>
                    <h5>Feito por: João & Diego</h5>
                </div>
            </div>                     
            <div class="jogo">
                <figure>
                    <a href="/genius"><img src="../imagens/capas/genius.PNG"></a>
                </figure>                
                <div>
                    <a href="/genius"><h3>Genius</h3></a>
                    <p>Memorize o máximo que conseguir</p>
                    <h5>Feito por: João</h5>
                </div>
            </div>
            <div class="jogo">
                <figure>
                    <a href="/brickBreaker"><img src="../imagens/capas/brickBreak.PNG"></a>
                </figure>                
                <div>
                    <a href="/brickBreaker"><h3>Brick Breaker</h3></a>
                    <p>Quebre o máximo de tijolos que conseguir</p>
                    <h5>Feito por: João</h5>
                </div>
            </div>
            <div class="jogo">
                <figure>
                    <a href="/maiormenor"><img src="../imagens/capas/maiormenor.png"></a>
                </figure>                
                <div>
                    <a href="/maiormenor"><h3>Maior ou Menor</h3></a>
                    <p>Diga qual o maior e o menor valor</p>
                    <h5>Feito por: João & Diego</h5>
                </div>
            </div>
            <div class="jogo">
                <figure>
                    <a href="/snake"><img src='../imagens/capas/snake.png'></a>
                </figure>                
                <div>
                    <a href="/snake"><h3>#Snake#</h3></a>
                    <p>Jogo da cobrinha. Coma o máximo que conseguir</p>
                    <h5>Feito por: João</h5>
                </div>
            </div>   
            <div class="jogo">
                <figure>
                    <a href="/setgame"><img src="../imagens/capas/setgame.png"></a>
                </figure>                
                <div>
                    <a href="/setgame"><h3>#Set Game#</h3></a>
                    <p>Combine um padrão de cartas</p>
                    <h5>Feito por: João & Diego</h5>
                </div>
            </div>            
            <div class="jogo">
                <figure>
                    <a href="/velha"><img src="../imagens/capas/jogoDaVelha.PNG"></a>
                </figure>                
                <div>
                    <a href="/velha"><h3>#Jogo da Velha#</h3></a>
                    <p>Faça uma sequência de 3 formas</p>
                    <h5>Feito por: João</h5>
                </div>
            </div>
            <div class="jogo">
                <figure>
                    <a href="/pokemon"><img></a>
                </figure>                
                <div>
                    <a href="/pokemon"><h3>Jornada Pokemon</h3></a>
                    <p>Simbolos e cores diferentes, memorize. Ideia professor Felipe</p>
                    <h5>Feito por: João & Diego</h5>
                </div>
            </div>
            <div class="jogo">
                <figure>
                    <a href="/damas"><img src="../imagens/capas/damas.PNG"></a>
                </figure>                
                <div>
                    <a href="/damas"><h3>#Damas#</h3></a>
                    <p>Mova suas peças para eliminar todas as peças do oponente</p>
                    <h5>Feito por: João</h5>
                </div>
            </div>
            <div class="jogo">
                <figure>
                    <a href="/placeholder"><img></a>
                </figure>                
                <div>
                    <a href="/placeholder"><h3>Tetris</h3></a>
                    <p>Simbolos e cores diferentes, memorize. Ideia professor Felipe</p>
                    <h5>Feito por: João</h5>
                </div>
            </div>
            <div class="jogo">
                <figure>
                    <a href="/placeholder"><img></a>
                </figure>                
                <div>
                    <a href="/placeholder"><h3>Muleta</h3></a>
                    <p>Jogo da velha em maior escala, faça uma sequência de 3 formas</p>
                    <h5>Feito por: João</h5>
                </div>
            </div>
            
            <div class="jogo">
                <figure>
                    <a href="/placeholder"><img></a>
                </figure>                
                <div>
                    <a href="/placeholder"><h3>Memória Objeto</h3></a>
                    <p>Simbolos e cores diferentes, memorize. Ideia professor Felipe</p>
                    <h5>Feito por: João & Felipe</h5>
                </div>
            </div>            
            <div class="jogo">
                <figure>
                    <a href="/placeholder"><img></a>
                </figure>                
                <div>
                    <a href="/placeholder"><h3>Trimino</h3></a>
                    <p>Simbolos e cores diferentes, memorize. Ideia professor Felipe</p>
                    <h5>Feito por: João & Diego</h5>
                </div>
            </div>
            
            <div class="jogo">
                <figure>
                    <a href="/placeholder"><img></a>
                </figure>                
                <div>
                    <a href="/placeholder"><h3>Nonogram</h3></a>
                    <p>Simbolos e cores diferentes, memorize. Ideia professor Felipe</p>
                    <h5>Feito por: João</h5>
                </div>
            </div>            
            <div class="jogo">
                <figure>
                    <a href="/placeholder"><img></a>
                </figure>                
                <div>
                    <a href="/placeholder"><h3>Tangram</h3></a>
                    <p>Simbolos e cores diferentes, memorize. Ideia professor Felipe</p>
                    <h5>Feito por: João</h5>
                </div>
            </div>
            
            
            <div class="jogo">
                <figure>
                    <a href="/placeholder"><img></a>
                </figure>                
                <div>
                    <a href="/placeholder"><h3>Grid linhas total</h3></a>
                    <p>Simbolos e cores diferentes, memorize. Ideia professor Felipe</p>
                    <h5>Feito por: João & Diego</h5>
                </div>
            </div>
            <div class="jogo">
                <figure>
                    <a href="/placeholder"><img></a>
                </figure>
                <div>
                    <a href="/placeholder"><h3>Genius Progressivo</h3></a>
                    <p>Escolha o seu padrão de genius com cada vez mais peças</p>
                    <h5>Feito por: João & Diego</h5>
                </div>
            </div>
            <div class="jogo">
                <figure>
                    <a href="/abracaixa"><img></a>
                </figure>                
                <div>
                    <a href="/abracaixa"><h3>Caixas</h3></a>
                    <p></p>
                    <h5></h5>
                </div>
            </div>
        </div>
    </main>

    <%- include('footer.html') %>

</body>
</html>