<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="../css/conta.css" rel="stylesheet">
    <title>Jogos do LEM</title>
</head>
<body>
    <%- include('header.html') %>
    <main>
        <form class="conta login" method="post" action="/loginAction">
            <div id="topo">
                <h3>Entrar</h3>
            </div>
            <div id="dados">
                <label for="email">Email</label>
                <input type="email" id="email">

                <label for="senha">Senha</label>
                <input type="password" id="senha">

                <input type="submit" value="Entrar">
            </div>
            <div id="base">
                <a href="/cadastro">Não possuí uma conta? <div class="bold">Cadastrar</div></a>
            </div>
        </form>

    </main>
    <%- include('footer.html') %>
</body>
</html>