<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('head.html')%>
    <script src="../scripts/maiormenor.js" defer></script>
    <link href="../css/maiormenor.css" rel="stylesheet">    
</head>
<body>
    
    <%- include('header.html') %>

    <main>

        <h2>Maior ou Menor</h2>
        <p>Pense rápido e clique no simbolo que corresponde a operação</p>

        <div id="maiormenorDiv">
            <div id="acima">
                <div id="itemEsquerda"><div id="numeroEsquerda">600</div><div id="prato"></div></div>
                <div id="duvidaDiv">?</div>
                <div id="itemDireita"><div id="numeroDireita">800</div><div id="prato"></div></div>
            </div>
            <div id="topo"></div>
            <div id="meio"></div>
            <div id="base"></div>
            <div id="resposta">
                <input type="button" id="menor" value="<">
                <input type="button" id="maior" value=">">
            </div>
        </div>

    </main>

    <%- include('footer.html') %>

</body>
</html>