<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('head.html')%>
    <link href="../css/maiormenor.css" rel="stylesheet">
</head>
<body>
    
    <%- include('header.html') %>

    <main>

        <h2>Maior ou Menor</h2>
        <p>Clique no simbolo que corresponde a operação</p>

        <div id="maiormenor-container">
            <div class="mm-div">
                <figure><a href="/mm1"><img src="../imagens/maiormenor/inteiros.PNG"></a></figure>
                <section><a href="/mm1"><h3>Números Inteiros</h3></a><p>Feito por LEM</p></section>
            </div>
            <div class="mm-div">
                <figure><a href="/mm2"><img src="../imagens/maiormenor/fracao.PNG"></a></figure>
                <section><a href="/mm2"><h3>Números Fracionários</h3></a><p>Feito por LEM</p></section>
            </div>
            <div class="mm-div">
                <figure><a href="/mm3"><img src="../imagens/maiormenor/divisao.PNG"></a></figure>
                <section><a href="/mm3"><h3>Divisões</h3></a><p>Feito por LEM</p></section>
            </div>
        </div>

    </main>

    <%- include('footer.html') %>

</body>
</html>