<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('head.html')%>
    <script src="../scripts/operacao.js" defer></script>
    <link href="../css/operacao.css" rel="stylesheet">    
</head>
<body>
    
    <%- include('header.html') %>

    <main id="operacao">

        <h2>Descubra a Operação</h2>
        <p>Utilize números e simbolos para resolver a operação</p>
        <div id="jogoBox">

            <div id="operacoesDiv">                

            </div>
            <div id="confirmar">

                <input type="button" id="confirmar" value="Confirmar">

            </div>            

        </div>

    </main>

    <%- include('footer.html') %>
</body>
</html>