<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('head.html')%>
</head>
<body>
        <%- include('header.html') %>

        <main>

            <h1>JOGO EM DESENVOLVIMENTO</h1>

        </main>

        <%- include('footer.html') %>
</body>
</html>