<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('head.html')%>
    <link href="../css/pokemon.css" rel="stylesheet">
    <script src="../scripts/pokemon.js" defer type="module"></script>    
</head>
<body>
        <%- include('header.html') %>

        <main>

            <h2>Jornada Pokémon</h2>
            <p>Vença as batalhas usando golpes efetivos</p>

            <div id="pokemonGrid">                
                <img src="../imagens/pokemon/pikachu2.png" id="playerPokemon">
                <img src="../imagens/pokemon/starmie.png" id="inimigoPokemon">

                <div id="inimigoDiv">                    
                    <div id="inimigoName">STARMIE</div>
                    <div id="inimigoLvl">Lv5</div>
                    <div id="inimigoHealth">
                        <div>HP</div>
                        <div id="health"></div>
                    </div>
                </div>
                <div id="playerDiv">
                    <div id="playerName">PIKACHU</div>                    
                    <div id="playerLvl">Lv5</div>
                    <div id="playerHealth">
                        <div>HP</div>
                        <div id="health"></div>
                    </div>                    
                    <div id="healthNumber">20/20</div>
                </div>
                <div id="battleText">
                    <p>What will <span id="nameText">PIKACHU</span> do?</p>
                </div>
                <div id="options">
                    <div class="opc lutar">LUTAR</div>
                    <div class="opc bolsa">BOLSA</div>
                    <div class="opc pokemon">POKÉMON</div>
                    <div class="opc fugir">FUGIR</div>                    
                </div>
                <div id="ataques">
                    <div class="atq">TACKLE</div>
                    <div class="atq">GROWL</div>
                    <div class="atq">LEECH SEED</div>
                    <div class="atq">VINE WHIP</div>
                </div>
                <div id="status">
                    <div id="pp">PP</div><div id="ppCounter">23/35</div>
                    <div>TYPE/<div id="type">NORMAL</div></div>
                </div>
            </div>
            <div id="choosePokemonGrid">
                <div id="selected">
                    <div class="pokebola"></div>
                    <div class="nome">PIKACHU</div>
                    <div class="level">Lv5</div>
                    <div class="hpBar">HP</div>
                    <div class="hpValue">25/25</div>
                </div>
                <div id="choose">
                    <div class="pokemon">
                        <div class="pokebola"></div>
                        <div class="nome">PIKACHU</div>
                        <div class="level">Lv5</div>
                        <div class="hpBar">HP</div>
                        <div class="hpValue">25/25</div>
                    </div>
                    <div class="pokemon">
                    </div>
                    <div class="pokemon">
                    </div>
                    <div class="pokemon">
                    </div>
                    <div class="pokemon">
                    </div>
                </div>
                <div id="bottomDiv">
                    <div id="text">Choose a POKÉMON.</div>
                    <div id="cancel">CANCEL</div>
                </div>
            </div>

        </main>

        <%- include('footer.html') %>
</body>
</html>