<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="../css/quiz.css" rel="stylesheet">
    <script src="../scripts/quiz.js" type="module"defer></script>
    <title>Jogos LEM</title>
</head>
<body>
    
    <%- include('header.html') %>

    <main id="quiz">

        <h2>Quiz Matemático</h2>
        <p>Tente acertar o máximo de perguntas o mais rápido que conseguir!!</p>

        <div id="topo">
            <div><h4>Tempo:</h4><h4 id="timer">00:00</h4></div>
        </div>
        <div id="gameBox">
            <div id="perguntaDiv">
                <span id="pergunta"></span>
            </div>
            <div id="opcoes">

                <input type="button" value="5" class="botao">
                <input type="button" value="8" class="botao">
                <input type="button" value="9" class="botao">
                <input type="button" value="3" class="botao">

            </div>

        </div>

    </main>

    <%- include('footer.html') %>

</body>
</html>