<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('head.html')%>
    <script src="../scripts/setGame.js" defer></script>
    <link href="../css/setGame.css" rel="stylesheet">    
</head>
<body>
    
    <%- include('header.html') %>

    <main>

        <h2>Set Game</h2>
        <p>Forme um único padrão entre 3 cartas</p>

        <div id="setgameDiv">

            <div id="setgameCards">
                <div class="card red square"><div></div><div></div><div></div></div>
                <div class="card red circle"><div></div><div></div><div></div></div>
                <div class="card blue square"><div></div><div></div><div></div></div>
                <div class="card green circle"><div></div><div></div><div></div></div>
                <div class="card green diamond"><div></div><div></div><div></div></div>
                <div class="card green circle"><div></div><div></div></div>
                <div class="card blue diamond"><div></div></div>
                <div class="card blue square"><div></div></div>
                <div class="card blue circle"><div></div></div>
                <div class="card blue circle"><div></div><div></div></div>
                <div class="card red diamond"><div></div><div></div></div>
                <div class="card red square"><div></div><div></div></div>
            </div>
            <div id="setgamePlace">
                <div></div>
                <div></div>
                <div></div>
            </div>


        </div>

    </main>

    <%- include('footer.html') %>

</body>
</html>