<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('head.html')%>
    <link href="../css/snake.css" rel="stylesheet">
    <script src="../scripts/snake.js" defer></script>    
</head>
<body>
    
    <%- include('header.html') %>
    <main>
        <h2>Jogo da Cobrinha</h2>
        <p>Coma o máximo que conseguir!</p>
        <div id="snakeDiv">
            <canvas id="snakeGame"></canvas>
            <div id="baixo"></div>
        </div>
    </main>
    <%- include('footer.html') %>

</body>
</html>