<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="../css/genius.css" rel="stylesheet">
    <script src="../scripts/genius.js" type="module" defer></script>
    <title>Jogos LEM</title>
</head>
<body>
    
    <%- include('header.html') %>

    <main id="genius">

        <h2>Genius</h2>

        <p>Memorize as cores que irão piscar e clique na ordem.</p>

        <input type="button" value="Começar" id="startGenius">

        <div id="gameGenius">
            <div id="cima">
                <div class="red rect"></div>
                <div class="green rect"></div>
            </div>
            <div id="baixo">
                <div class="blue rect"></div>
                <div class="yellow rect"></div>
            </div>
            <div id="centro"><p>GENIUS</p><p id="pontos">0</p></div>
            
        </div>
        
    </main>

    <%- include('footer.html') %>

</body>
</html>