<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="../css/main.css" rel="stylesheet">
    <title>Jogos LEM</title>
</head>
<body>
    
    <header>
        <figure>
            <a href="/"><img src="../imagens/LEM 2.png"></a>
            <h2>JOGOS DO LEM</h2>
        </figure>
        <div>
            <input type="button" value="Crie seus jogos">
            <a href="/login"><img src="../imagens/perfil.png"></a>
        </div>
    </header>

    <main id="home">
        <div>
        <div>
            <h2>Bem-vindo(a) aos Jogos do LEM</h2>
            <p>Aqui você irá encontrar diversos jogos para aprender e praticar seus conhecimentos matemáticos e lógicos</p>
        </div>
        <div id="jogos">

            <div class="jogo">
                <figure>
                    <a href="/quiz"><img src="../imagens/quiz.PNG"></a>
                </figure>                
                <div>
                    <a href="/quiz"><h3>Quiz Matemático</h3></a>
                    <p>Tente acertar o máximo de perguntas o mais rápido que conseguir!!</p>
                    <h5>Feito por: João & Diego</h5>
                </div>
            </div>
            <div class="jogo">
                <figure>
                    <a href="/tabuada"><img src="../imagens/tabuada.PNG"></a>
                </figure>                
                <div>
                    <a href="/tabuada"><h3>Tabuada Rápida</h3></a>
                    <p>Acerte o mais rápido que conseguir os resultados dos cálculos</p>
                    <h5>Feito por: João</h5>
                </div>
            </div>
            <div class="jogo">
                <figure>
                    <a href="/operacao"><img src="../imagens/operacao.PNG"></a>
                </figure>                
                <div>
                    <a href="/operacao"><h3>Descubra a Operação</h3></a>
                    <p>Coloque os sinais na operação, que irá resultar no valor final</p>
                    <h5>Feito por: João</h5>
                </div>
            </div>
            <div class="jogo">
                <figure>
                    <a href="/hanoi"><img src='../imagens/hanoi.png'></a>
                </figure>                
                <div>
                    <a href="/hanoi"><h3>Torre de Hanoi</h3></a>
                    <p>Na torre de hanoi o jogador deve mover a torre de um pilar ao outro.</p>
                    <h5>Feito por: João</h5>
                </div>
            </div>
            <div class="jogo">
                <figure>
                    <a href="/snake"><img src='../imagens/snake.png'></a>
                </figure>                
                <div>
                    <a href="/snake"><h3>Snake</h3></a>
                    <p>Jogo da cobrinha. Coma o máximo que conseguir</p>
                    <h5>Feito por: João</h5>
                </div>
            </div>
            <div class="jogo">
                <figure>
                    <a href="/brick"><img></a>
                </figure>                
                <div>
                    <a href="/brick"><h3>Brick Breaker</h3></a>
                    <p>Quebrar os tijolos</p>
                    <h5>Feito por: João</h5>
                </div>
            </div>
            <div class="jogo">
                <figure>
                    <a href="/genius"><img src="../imagens/genius.PNG"></a>
                </figure>                
                <div>
                    <a href="/genius"><h3>Genius</h3></a>
                    <p>Memorize o máximo que conseguir</p>
                    <h5>Feito por: João</h5>
                </div>
            </div>
            <div class="jogo">
                <figure>
                    <a href="/memoria"><img></a>
                </figure>                
                <div>
                    <a href="/memoria"><h3>Memória</h3></a>
                    <p>Simbolos e cores diferentes, memorize. Ideia professor Felipe</p>
                    <h5>Feito por: João</h5>
                </div>
            </div>
        </div>
    </div>
    </main>

    <footer>


    </footer>

</body>
</html>