<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="../css/main.css" rel="stylesheet">
    <title>Jogos do LEM</title>
</head>
<body>
    <header>
        <figure>
            <a href="/"><img src="../imagens/LEM 2.png"></a>
            <h2>JOGOS DO LEM</h2>
        </figure>
        <div>
            <input type="button" value="Crie seus jogos">
            <a href="/login"><img src="../imagens/perfil.png"></a>
        </div>
    </header>
    <main>
        <form id="login" method="post" action="/loginAction">
                <div id="topo">
                    <h3>Entrar</h3>
                </div>
                <div id="dados">
                    <label for="email">Email</label>
                    <input type="text">

                    <label for="senha">Senha</label>
                    <input type="password">

                    <input type="submit" value="Entrar">
                </div>
                <div id="cadastrar">
                    <a href="/cadastro">Não possuí uma conta? <div class="bold">Cadastrar</div></a>
                </div>
        </form>

    </main>
    <footer></footer>
</body>
</html>