<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <script src="../scripts/operacao.js" defer></script>
    <link href="../css/main.css" rel="stylesheet">
    <title>Jogos LEM</title>
</head>
<body>
    
    <header>
        <figure>
            <a href="/"><img src="../imagens/LEM 2.png"></a>
            <h2>JOGOS DO LEM</h2>
        </figure>
        <div>
            <input type="button" value="Crie seus jogos">
            <img src="../imagens/perfil.png">
        </div>

    </header>

    <main id="operacao">

        <h2>Descubra a Operação</h2>
        <p>Utilize números e simbolos para resolver a operação</p>
        <div id="jogoBox">

            <div id="operacoesDiv">                

            </div>
            <div id="confirmar">

                <input type="button" id="confirmar" value="Confirmar">

            </div>            

        </div>

    </main>

    <footer>


    </footer>

</body>
</html>