<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="../css/operacao.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>Jogos LEM</title>
</head>
<body>
    
    <header>
        <figure>
            <a href="/"><img src="../imagens/LEM 2.png"></a>
            <h2>JOGOS DO LEM</h2>
        </figure>
        <div>
            <input type="button" value="Crie seus jogos">
            <img src="../imagens/perfil.png">
        </div>

    </header>

    <main>

        <h2>Descubra a Operação</h2>

        <div id="jogoBox">

            <div id="operacoes">

                <input type="text" size="1" maxlength="3"> + 25 <input type="text" size="1" maxlength="3"> 5 = 30 

            </div>
            <div id="confirmar">

                <input type="button" value="Confirmar">

            </div>            

        </div>

    </main>

    <footer>


    </footer>

</body>
</html>