<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="../css/main.css" rel="stylesheet">
    <script src="../scripts/quiz.js" defer></script>
    <title>Jogos LEM</title>
</head>
<body>
    
    <header>
        <figure>
            <a href="/"><img src="../imagens/LEM 2.png"></a>
            <h2>JOGOS DO LEM</h2>
        </figure>
        <div>
            <input type="button" value="Crie seus jogos">
            <img src="../imagens/perfil.png">
        </div>
    </header>

    <main id="quiz">

        <h2>Quiz Matemático</h2>
        <p>Tente acertar o máximo de perguntas o mais rápido que conseguir!!</p>

        <div id="topo">
            <div><h3>Pontos:</h3><h3 id="pontos">0</h3></div>
            <div><h3 id="timer">00:00</h3></div>
        </div>
        <div id="gameBox">
            <div id="perguntaDiv">
                <span id="pergunta"></span>
            </div>
            <div id="opcoes">

                <input type="button" value="5" class="botao">
                <input type="button" value="8" class="botao">
                <input type="button" value="9" class="botao">
                <input type="button" value="3" class="botao">

            </div>

        </div>

    </main>

    <footer>


    </footer>

</body>
</html>