<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="../css/main.css" rel="stylesheet">
    <title>Jogos LEM</title>
</head>
<body>
    
    <header>
        <figure>
            <a href="/"><img src="../imagens/LEM 2.png"></a>
            <h2>JOGOS DO LEM</h2>
        </figure>
        <div>
            <input type="button" value="Crie seus jogos">
            <img src="../imagens/perfil.png">
        </div>
    </header>

    <main id="quiz">

        <h2>Quiz Matemático</h2>
        <p>Tente acertar o máximo de perguntas dentro do tempo limite!!</p>

        <div id="gameBox">

            <div id="errou">
                <h1>ERROU!</h1>
                <h4>Você fez: <%= pontos %> Pontos</h4><h4>Você jogou por: <%= tempo %> </h4>
                <a href="/quiz"><input type="button" value="TENTAR NOVAMENTE"></a>
            </div>
            
        </div>

    </main>

    <footer>


    </footer>

</body>
</html>