<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="../css/tabuada.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>Jogos LEM</title>
</head>
<body>
    
    <header>
        <figure>
            <a href="/"><img src="../imagens/LEM 2.png"></a>
            <h2>JOGOS DO LEM</h2>
        </figure>
        <div>
            <input type="button" value="Crie seus jogos">
            <img src="../imagens/perfil.png">
        </div>

    </header>

    <main>

        <h2>Tabuada Rápida</h2>
        <p>Tente acertar o máximo de resultados o mais rápido que conseguir!!</p>

        <div>

            <div id="pergunta">

                3 x 3

            </div>
            <div id="opcoes">

                <input type="button" value="9">
                <input type="button" value="12">
                <input type="button" value="6">
                <input type="button" value="14">
                <input type="number" placeholder="Digite o valor da resposta caso prefirir">
            </div>

        </div>

    </main>

    <footer>


    </footer>

</body>
</html>